:root{
--colour1: #f3f1ea;
--colour2: #eda2a2;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, var(--colour1), var(--colour2));
    background-size: 200%;
    animation: bg-animation 5s infinite alternate;
    transition: background 0.5s ease-in-out;

}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right}
}

.title {
    color: #695b5b;
    font-family: 'Times New Roman', Times, serif
}

.container {
    margin: 10rem;
    background-color: rgb(237, 236, 213);
    padding: 3rem;
    border-radius: 10px;
}



.mood-selector {
    width: 6rem;
    height: 2rem;
}


.playlist {
    width: 80%;
    height: 10rem;
    padding: 3rem;
}
