:root{
--colour1: #f3f1ea;
--colour2: #eda2a2;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, var(--colour1), var(--colour2));
    background-size: 300%;
    animation: bg-animation 5s infinite alternate;
    transition: background 0.5s ease-in-out;

}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right}
}
.container {
    margin-top: 50px;
}

.color-display {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
}

.playlist {
    width: 80%;
    height: 200px;
    margin-top: 20px;
}
